{% extends 'base.html' %}
{% block title %}Book Details{% endblock title %}
{% block body %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{ book.title }}</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ book.image.url }}" alt="Book Cover" class="img-fluid rounded">
                </div>
                <div class="col-md-8">
                    <h2 class="card-subtitle mb-2 text-muted">{{ book.author }}</h2>
                    <p><strong>Genre:</strong> {{ book.genre.all|join:", " }}</p>
                    <p class="card-text"><strong>Summary:</strong></p>
                    <p class="card-text">{{ book.summary }}</p>
                    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
                </div>
            </div>
        </div>
        
    </div>

    <div class="mt-4">
        <h3>All Copies</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Due Back</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for book_instance in book.bookinstance_set.all %}
                    <tr>
                        <td>
                            {% if book_instance.status == 'm' %}
                                Maintenance
                            {% elif book_instance.status == 'o' %}
                                On Loan
                            {% elif book_instance.status == 'a' %}
                                Available
                            {% elif book_instance.status == 'r' %}
                                Reserved
                            {% endif %}
                        </td>
                        
                        <td>{{ book_instance.due_back }}</td>
                        
                        <td>
                            {% if book_instance.status == 'a' %}
                            <button type="button" class="btn btn-primary borrow-button" data-toggle="collapse" data-target="#collapseExample{{ book_instance.id }}">
                                Borrow Now
                            </button>
                            {% else %}
                            <p> Not Available</p>
                            {% endif%}
                        
                            <!-- Collapsible form -->
                            <div class="collapse" id="collapseExample{{ book_instance.id }}">
                                {% if book_instance.status == 'a' %}
                                <form method="POST" action="{% url 'borrow-book' book_instance_id=book_instance.id %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="dueDate">Due Date</label>
                                        <input type="date" class="form-control" id="dueDate" name="due_date" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                                {% else %}
                                <p>"Sorry You cannot borrow this book Please Check the Status "</p>
                                {% endif %}

                            </div>
                        </td>
                        
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">No copies available for borrowing.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>




{% endblock body %}


